[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PwrGSD"]
	path = PwrGSD
	url = https://github.com/cran/PwrGSD
[submodule "pwrFDR"]
	path = pwrFDR
	url = https://github.com/cran/pwrFDR
